.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.items{
    align-items: center;
}
.center{
    align-content: center;
    justify-content: center;
}
.space{
    justify-content: space-around;
}
.wrap{
    flex-wrap: wrap;
}
.column{
    flex-flow: column;
}


$family-1:'Raleway', sans-serif;
$family-2: 'Oswald', sans-serif;
$family-3: 'Montserrat', sans-serif;
$call: #FF6700;
$atention: #0B478A;
$quote: #000F1F;
$text: #434343;
$text2: white;


body{
    margin: 0 auto;
    padding: 0%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.container{
    background: url(../../media/1.png) center no-repeat;
    max-width: 100%;
    /*height: 1084px;*/
    background-size: cover;
    display: block;
    margin: auto;
}
nav{
    width: 100%;
    position: relative;
    margin: 0px auto;
    padding-top: 16px;
    .menu{
        text-align: center;
        list-style: none;
        font-family: $family-1;
        font-size: 25px;
        margin: 80px;
        position: relative;
        li{
            margin: 0 50px;
            a{
                text-decoration: none;
                color: $text2;
            }
        }
    }

}
.titulo{
    width: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 150px 0 300px 0;
    
    
    h1{
        margin: 0 auto;
        padding: 32px 0px;
        font-size: 60px;
        line-height: 120%;
        font-family: $family-3;
        font-weight: 500;
        color: $call;
    }
    .social{
        margin: 0 auto;
        position: relative;
        font-size: 32px;
        .social-BTN{
            text-decoration: none;
            color: $text2;
            padding: 0px 16px;
        }
        
    }
    
}
.US{
    max-width: 100%;
    position: relative;
    padding: 200px 0;
    .txt-1{
        position: relative;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 50px;
        line-height: 140%;
        font-style: italic;
        font-weight: 300;
        color: $quote;
        padding: 150px 50px 50px 50px;
    }
    .service {
        .Be{
            padding: 0 0 0 80px;
            .p-be{
                margin:5px;
                font-family: $family-2;
                font-weight: 700;
                font-size: 50px;
                font-style: italic;
                line-height: 120%;
                color: $atention;
            }
            .be-1{
                margin: 16px 0 0 5px;
                width: 90%;
                height: 50px;
                background: $text2;
                border-radius: 10px;
                border-color: $call;
                border-width: 3.5px;
                font-size: 25px;
                font-family: $family-1;
                font-weight: 700;
                color: $quote;
                box-shadow: 0px 10px 40px -7px #7090B0;
            }
        }
        .help{ 
            width: 50%;
            padding: 0 0 0 80px;
            
            h2{
                margin: 0 0 10px 0;
                font-family: $family-2;
                font-size: 40px;
                font-weight: 100;
            }
            .p2{
                margin: 0 auto;
                font-family: $family-1;
                font-size: 20px;
                line-height: 140%;
                color: $text;
    
    
            }
        }

    }
}
.cards{
    margin: 0 auto;
    width: 100%;
    position: relative;
    background: url(../../media/2.png);
    background-position: center;
   .card{
       margin: 0 100px;
       text-align: center;
       padding: 60px 0 60px 0;
       font-size: 50px;
       i{
        color:$call;
        opacity: 55%;
       }
       h3{
           margin: 16px;
           font-size: 32px;
           font-family: $family-2;
           color: $text2
       }
       ul{ 
           text-align: start;
           list-style: none;
           font-size: 18px;
           font-weight: 700;
           font-family: $family-1;
           color: lightgray;
           padding: 20px 0 0 0;
           hr{
               color: lightgray;
               margin: 15px 0 15px 0;
           }
       }
   }
}
.metodo{
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    padding: 150px 200px;
    .foto3{
        width: 100%;
        text-align: center;
    }
    .mtd{
        width: 100%;
    }
    .titu{
        margin: 0 auto;
        padding: 30px 0 0 0;
        font-size: 40px;
        font-family: $family-2;
        font-weight: 500;
        color: $atention;
    }
    .Our{
        margin: 0 auto;
        font-family: $family-1;
        font-size: 20px;
        line-height: 140%;
        color: $text;
        padding: 10px 0px; 
    }
    .pasos{
        list-style: square;
        margin: 0 auto;
        padding: 20px 0 0 30px;
        font-size: 30px;
        line-height: 120%;
        color: $quote;
    }
}
.contact{
    position: relative;
    margin: 0px;
    width: 50%;
    .Form{
        position: relative;
        width: 60%;
        height: 80%;
        margin: 0 auto;
        padding: 20px;
        font-family: $family-1;
    }
    .title{
        font-size: 40px;
        font-weight: 100;
        line-height: 140%;
        margin: 20px 0px;
        color: $atention;
    }
    .txt{
        font-size: 20px;
        margin: 16px 0px;
    }
    
}

