.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.space {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  margin: 0 auto;
  padding: 0%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  background: url(../../media/1.png) center no-repeat;
  max-width: 100%;
  /*height: 1084px;*/
  background-size: cover;
  display: block;
  margin: auto;
}

nav {
  width: 100%;
  position: relative;
  margin: 0px auto;
  padding-top: 16px;
}

nav .menu {
  text-align: center;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  margin: 80px;
  position: relative;
}

nav .menu li {
  margin: 0 50px;
}

nav .menu li a {
  text-decoration: none;
  color: white;
}

.titulo {
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 150px 0 300px 0;
}

.titulo h1 {
  margin: 0 auto;
  padding: 32px 0px;
  font-size: 60px;
  line-height: 120%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #FF6700;
}

.titulo .social {
  margin: 0 auto;
  position: relative;
  font-size: 32px;
}

.titulo .social .social-BTN {
  text-decoration: none;
  color: white;
  padding: 0px 16px;
}

.US {
  max-width: 100%;
  position: relative;
  padding: 200px 0;
}

.US .txt-1 {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  line-height: 140%;
  font-style: italic;
  font-weight: 300;
  color: #000F1F;
  padding: 150px 50px 50px 50px;
}

.US .service .Be {
  padding: 0 0 0 80px;
}

.US .service .Be .p-be {
  margin: 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 50px;
  font-style: italic;
  line-height: 120%;
  color: #0B478A;
}

.US .service .Be .be-1 {
  margin: 16px 0 0 5px;
  width: 90%;
  height: 50px;
  background: white;
  border-radius: 10px;
  border-color: #FF6700;
  border-width: 3.5px;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #000F1F;
  -webkit-box-shadow: 0px 10px 40px -7px #7090B0;
          box-shadow: 0px 10px 40px -7px #7090B0;
}

.US .service .help {
  width: 50%;
  padding: 0 0 0 80px;
}

.US .service .help h2 {
  margin: 0 0 10px 0;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 100;
}

.US .service .help .p2 {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #434343;
}

.cards {
  margin: 0 auto;
  width: 100%;
  position: relative;
  background-image: url(../../media/2.png);
  background-position: center;
}

.cards .card {
  margin: 0 100px;
  text-align: center;
  padding: 60px 0 60px 0;
  font-size: 50px;
}

.cards .card i {
  color: #FF6700;
  opacity: 55%;
}

.cards .card h3 {
  margin: 16px;
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
  color: white;
}

.cards .card ul {
  text-align: start;
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: lightgray;
  padding: 20px 0 0 0;
}

.cards .card ul hr {
  color: lightgray;
  margin: 15px 0 15px 0;
}

.metodo {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  padding: 150px 200px;
}

.metodo .foto3 {
  width: 100%;
  text-align: center;
}

.metodo .mtd {
  width: 100%;
}

.metodo .titu {
  margin: 0 auto;
  padding: 30px 0 0 0;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: #0B478A;
}

.metodo .Our {
  margin: 0 auto;
  font-family: 'Raleway', 'sans-serif';
  font-size: 20px;
  line-height: 140%;
  color: #434343;
  padding: 10px 0px;
}

.metodo .pasos {
  list-style: square;
  margin: 0 auto;
  padding: 20px 0 0 30px;
  font-size: 30px;
  line-height: 120%;
  color: #000F1F;
}
/*# sourceMappingURL=styles.css.map */