.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.space {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

body {
  margin: 0 auto;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  background: url(../../media/1.png) center no-repeat;
  max-width: 100%;
  /*height: 1084px;*/
  background-size: cover;
  display: block;
  margin: auto;
}

nav {
  width: 100%;
  position: relative;
  margin: 0px auto;
  padding-top: 16px;
}

nav .menu {
  text-align: center;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  margin: 80px;
  position: relative;
}

nav .menu li {
  margin: 0 50px;
}

nav .menu li a {
  text-decoration: none;
  color: white;
}

.titulo {
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 150px 0 300px 0;
}

.titulo h1 {
  margin: 0 auto;
  padding: 32px 0px;
  font-size: 60px;
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #FF6700;
}

.titulo .social {
  margin: 0 auto;
  position: relative;
  font-size: 32px;
}

.titulo .social .social-BTN {
  text-decoration: none;
  color: white;
  padding: 0px 16px;
}

.US {
  max-width: 100%;
  position: relative;
  padding: 200px 0;
}

.US .txt-1 {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  line-height: 140%;
  font-style: italic;
  font-weight: 300;
  color: #000F1F;
  padding: 150px 50px 50px 50px;
}

.US .service .Be {
  padding: 0 0 0 80px;
}

.US .service .Be .p-be {
  margin: 5px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 50px;
  font-style: italic;
  line-height: 120%;
  color: #0B478A;
}

.US .service .Be .be-1 {
  margin: 16px 0 0 5px;
  width: 90%;
  height: 50px;
  background: white;
  border-radius: 10px;
  border-color: #FF6700;
  border-width: 3.5px;
  -webkit-box-shadow: 0px 10px 40px -7px #7090B0;
          box-shadow: 0px 10px 40px -7px #7090B0;
}

.US .service .Be .be-1 a {
  text-decoration: none;
  color: #000F1F;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.US .service .help {
  width: 50%;
  padding: 0 0 0 80px;
}

.US .service .help h2 {
  margin: 0 0 10px 0;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 100;
}

.US .service .help .p2 {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #434343;
}

.cards {
  margin: 0 auto;
  width: 100%;
  position: relative;
  background: url(../../media/2.png);
  background-position: center;
  padding: 80px 0px;
}

.cards .card {
  margin: 0 100px;
  text-align: center;
  padding: 60px 0 60px 0;
  font-size: 50px;
}

.cards .card i {
  color: #FF6700;
  opacity: 55%;
}

.cards .card h3 {
  margin: 16px;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  color: white;
}

.cards .card ul {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: lightgray;
  padding: 20px 0 0 0;
}

.cards .card ul hr {
  color: lightgray;
  margin: 15px 0;
}

.metodo {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  padding: 250px 200px;
}

.metodo .foto3 {
  width: 100%;
  text-align: center;
}

.metodo .mtd {
  width: 100%;
}

.metodo .titu {
  margin: 0 auto;
  padding: 30px 0 0 0;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #0B478A;
}

.metodo .Our {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #434343;
  padding: 10px 0px;
}

.metodo .coffe {
  margin: 0 auto;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  line-height: 140%;
  color: #000F1F;
}

.metodo .pasos {
  list-style: square;
  margin: 0 auto;
  padding: 20px 0 0 30px;
  font-size: 35px;
  line-height: 120%;
  color: #0B478A;
}

#Portfolio {
  padding-bottom: 150px;
}

.galery {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  color: #0B478A;
  margin: 20px 0;
}

.galeria {
  width: 85%;
  margin: auto;
  padding: 40px 20px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(768px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(768px, 1fr));
  grid-gap: 15px;
}

.galeria img {
  width: 100%;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.galeria .effect {
  margin: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px #000F1F;
          box-shadow: 0px 0px 10px #000F1F;
}

.galeria .effect:hover img {
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
  -webkit-transform: rotate(10deg) scale(1.3);
          transform: rotate(10deg) scale(1.3);
}

.light-box {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  padding: 150px 0px;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  /* transition: transform .5s ease-in-out; */
  width: 100%;
  height: 100vh;
  z-index: 1000;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.light-box img {
  width: 50vw;
  max-height: 50vh;
}

.light-box .arrow {
  display: block;
  padding: 220px 50px;
  font-size: 50px;
  color: white;
  text-decoration: none;
}

.light-box .close {
  display: block;
  position: absolute;
  top: 50px;
  right: 100px;
  color: #851919;
  text-decoration: none;
  font-size: 45px;
}

.light-box:target {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact {
  position: relative;
  margin: 0px;
  width: 50%;
  padding-bottom: 200px;
}

.contact .Form {
  position: relative;
  width: 60%;
  height: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: "Raleway", sans-serif;
}

.contact .title {
  font-size: 40px;
  font-weight: 100;
  line-height: 140%;
  margin: 0px;
  color: #0B478A;
}

.contact .txt {
  font-size: 20px;
  margin: 16px 0px;
}

.contact .field {
  margin: 20px 0px;
  font-size: 20px;
  line-height: 140%;
  font-weight: bold;
}

.contact .field input, .contact .field textarea {
  padding: 16px;
  margin: 5px 0px;
  height: 20px;
  resize: none;
  outline: none;
  border: 2px solid #C2C2C2;
  border-radius: 10px;
}

.contact .field abbr {
  color: red;
  font-size: 30px;
}

.contact .field textarea {
  height: 200px;
  margin-bottom: 100px;
}

.contact .send {
  width: 80%;
  height: 50px;
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  border-color: #FF6700;
  border-width: 3.5px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #000F1F;
  -webkit-box-shadow: 0px 10px 40px -7px #7090B0;
          box-shadow: 0px 10px 40px -7px #7090B0;
}

.footer {
  width: 100%;
  position: relative;
  margin: 0px;
  background-color: #212121;
  font-family: "Raleway", sans-serif;
}

.footer .part-1 {
  position: relative;
  margin: 0 auto;
  width: 33%;
  padding: 50px 50px;
  border-left: 2.5px solid white;
  border-right: 2.5px solid white;
}

.footer .part-1 .caja {
  text-align: center;
}

.footer .part-1 .gator {
  margin: 16px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  color: #FF6700;
}

.footer .part-1 .follow {
  margin: 16px 0;
  text-align: center;
  color: #88B2E1;
  font-size: 25px;
}

.footer .part-1 .social {
  margin: 16px 0px;
  padding: 0 150px;
  font-size: 32px;
}

.footer .part-1 .social .social-BTN {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}

.footer .part-2 {
  position: relative;
  margin: 0px;
  width: 33%;
  padding: 120px 50px;
  font-family: "Raleway", sans-serif;
}

.footer .part-2 .us-foot {
  margin: 0px;
  padding: 16px;
  color: #88B2E1;
  font-size: 32px;
}

.footer .part-2 .us-2 {
  margin: 16px 0px;
  padding: 0px 16px;
  font-size: 20px;
  color: white;
}

.footer .part-3 {
  position: relative;
  margin: 0px;
  width: 33%;
  padding: 100px 50px;
}

.footer .part-3 .data {
  position: relative;
  width: 100%;
  margin: 20px 0;
}

.footer .part-3 .icon {
  font-size: 40px;
  color: white;
  padding: 20px;
}

.footer .part-3 .H {
  font-size: 25px;
  font-weight: 100;
  margin: 0px;
  padding-top: 10px;
  color: #88B2E1;
}

.footer .part-3 .P {
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
/*# sourceMappingURL=styles.css.map */