.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.space {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body {
  margin: 0 auto;
  padding: 0%;
  scroll-behavior: smooth;
  overflow: scroll;
}

.container {
  background: url(/media/1.png) center no-repeat;
  max-width: 100%;
  /*height: 1084px;*/
  background-size: cover;
  display: block;
  margin: auto;
}

nav {
  width: 100%;
  position: relative;
  margin: 0px auto;
  padding-top: 16px;
}

.logo {
  padding: 0px 0px 0px 50px;
  width: 8%;
}

.menu {
  text-align: center;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  position: relative;
}

.menu li {
  margin: 0 15px 0 15px;
}

.social {
  padding: 0 50px 0 0;
}

.social .social-BTN {
  margin: 0 5px 0 5px;
  position: relative;
  font-size: 20px;
  color: white;
}

.titulo {
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 200px 0;
  font-family: 'Raleway', sans-serif;
}

.titulo .p1 {
  font-size: 30px;
  font-style: italic;
  color: #FF6700;
  font-weight: 300;
  margin: 10px 0 10px 0;
}

.titulo h1 {
  margin: 20px 0 30px 0;
  font-size: 80px;
  font-weight: 600;
  color: white;
}

.titulo .txt-1 {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  color: lightgrey;
}

.US {
  max-width: 100%;
  position: relative;
}

.US .botones {
  position: relative;
  padding: 100px 100px 0 100px;
}

.US .brain {
  position: relative;
  width: 20%;
  height: 250px;
  border-radius: 50%;
  margin: 80px 50px;
  background: transparent;
  border-width: 3px;
  border-color: #88B2E1;
}

.US .brain i {
  position: relative;
  font-size: 100px;
  color: #88B2E1;
}

.US .hand {
  position: relative;
  width: 20%;
  height: 250px;
  border-radius: 50%;
  margin: 80px 50px;
  background: transparent;
  border-width: 3px;
  border-color: #88B2E1;
}

.US .hand i {
  position: relative;
  font-size: 100px;
  color: #88B2E1;
}

.US .pen {
  position: relative;
  width: 20%;
  height: 250px;
  border-radius: 50%;
  margin: 80px 50px;
  background: transparent;
  border-width: 3px;
  border-color: #88B2E1;
}

.US .pen i {
  position: relative;
  font-size: 100px;
  color: #88B2E1;
}

.US .service {
  padding: 0px 100px 50px 100px;
}

.US .Be {
  width: 50%;
  padding: 25px 25px;
}

.US .Be .p-be {
  margin: 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: #3B78BC;
}

.US .Be .be-1 {
  margin: 10px 0 0 5px;
  width: 60%;
  height: 40px;
  background: white;
  border-radius: 5px;
  border-color: #3B78BC;
  border-width: 1,5px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.US .help {
  padding: 0 0 50px 10px;
  float: right;
}

.US .help h2 {
  margin: 0 0 10px 0;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 300;
}

.US .help .p2 {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #696969;
}

.work {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.work .fondo {
  width: 100%;
  height: 50%;
}
/*# sourceMappingURL=styles.css.map */